.popup {
  display: none;
  position: fixed;
  padding: 10px;
  left: 50%;
  top: 50%;
  width: 900px;
  margin-left: -450px;
  height: 600px;
  margin-top: -300px;
  background: #FFF;
  z-index: 20;
}

#subvisLeft {
  width: 60%;
  float: left;
  align-self:center;
  padding-left: 40px;
}

#subvisNames {
  width: 40%;
  float: right;
  align-self:center;
  padding-right: 40px;
  text-align: right
}

#subvis:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: -2;
}

#subvis:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
}

/* From here on, just aesthetics */

a,
a:visited {
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
  display: block;
  margin: 10px 0;
}

a:hover,
a:active {
  text-decoration: underline;
}

.popup a,
.popup a:visited {
  color: #1abc9c;
}
